@{
  Layout = "_Layout";
}

@model Gym.Models.Class
<h4>Add a new class to CMJ gym!</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClassName)
  @Html.TextBoxFor(model => model.ClassName)
<br>
  <input type="submit" value="Add new class"/>
}

<p>@Html.ActionLink("Show all classes", "Index")</p>