@{
  Layout = "_Layout";
}

@model Gym.Models.Location

<h1> Add a Instructor to a Location: </h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LocationId)

    @Html.Label("Select Instructor ")
    @Html.DropDownList("InstructorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
