@{
  Layout = "_Layout";
}
@using Gym.Models;

<h1>All CMG Locations</h1>
@foreach (Location item in Model)
{
  @Html.ActionLink($"{item.LocationName}", "Details", "Locations", new{id = item.LocationId})
  <br>
}
<br><br>

@Html.ActionLink("Create A new CMJ Location", "Create", "Locations")