div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

body {
	background-image: url("../img/logo.png");
  background-position: right;
  background-size: 70%;
	background-repeat:no-repeat;
}